@font-face {
   font-family: 'Apple';
   src: url('/assets/HomemadeApple.ttf');
}
@font-face {
   font-family: 'Place';
   src: url('/assets/HopelessPlace.ttf');
}
@font-face {
   font-family: 'Type';
   src: url('/assets/typewriter.ttf');
}
nav {
  flex: 1;
}
nav ul {
  list-style: none;
  width: 90%;
  padding: 0.5em 0;
  margin-top: 5em;
  background-color: #dfdce3;
  border-radius: 5px;
}
nav ul li {
  margin: 0.5em;
  text-align: center;
  border-left: 2px solid maroon;
}
nav ul li a {
  text-decoration: none;
  font-family: Apple;
  color: black;
}
nav ul li:hover {
  background-color: maroon;
  border-radius: 5px;
}
nav ul li:hover a {
  color: #dfdce3;
}