<aside>
  <!-- src="http://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person"   -->
  <a routerLink="/about" routerLinkActive="active">
    <img src="assets/profile.png" alt="profilePicture" />
    <h1>Pau de la Cuesta</h1>
  </a>
  <ul>
    <li>paudelacuesta@ciclion.com</li>
    <li><span class="github-icon"></span><a href="http://github.com/pcs289">@pcs289</a></li>
    <li><span class="linkedin-icon"></span><a href="http://linkedin.com/in/pau-de-la-cuesta-sala-a761a179">Pau de la Cuesta</a></li>
  </ul>
  <a download="assets/cv.pdf"><button>Download C V</button></a>
</aside>