@font-face {
   font-family: 'Apple';
   src: url('/assets/HomemadeApple.ttf');
}
@font-face {
   font-family: 'Place';
   src: url('/assets/HopelessPlace.ttf');
}
@font-face {
   font-family: 'Type';
   src: url('/assets/typewriter.ttf');
}
aside a {
  color: black;
  font-family: Type;
  text-decoration: none;
}
aside button {
  display: block;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: Place;
  outline: none;
  background-color: #dfdce3;
  border: 2px solid maroon;
}
aside button:hover {
  background-color: maroon;
  color: #dfdce3;
}
aside img {
  display: block;
  margin: 1em auto;
  width: 75%;
  background-color: #dfdce3;
}
aside h1 {
  margin: 1em 0;
  text-align: center;
  font-family: Place;
  text-decoration: none;
}
aside ul {
  padding: 0 1em;
  list-style: none;
}
aside ul li {
  font-family: Type;
  margin: 0.5em;
}

.github-icon:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "";
  color: black;
  margin-right: 5px;
}

.linkedin-icon:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "";
  color: black;
  margin-right: 5px;
}